# Binaries for programs and plugins
main
*.exe
*.exe~
*.so
*.dylib
*.dll

# Ignore binary output folders
bin/

# Ignore common editor/system specific metadata
.DS_Store
.idea/
.vscode/
*.iml

# ENV
.env

# vweb and database
*.db
*.js
.editorconfig
lilly.panic.log
lilly
/petal
src/.githash
.githash
make
xpty_frames/
cmd/xpty/xpty.dSYM/Contents
